/.vscode/

/readme_files/
readme.html

/TODO_files/
TODO*

testing.py
testing.ipynb


**/__pycache__/
/__pycache__/
*/__pycache__/

.DS_Store

/figs/

*.gtif
*.gtiff
*.tif
*.tiff
*.so
*.dylib
*.o
*.dll